{% extends "base_generic.html" %}
{% block content %}
{% load static %}

  <section class="header1 cid-rUg5p33tMD" id="header1-0">

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5 jb-large">Prayer Journal</h1>
          <p>Remnant who follow the Word. This is Today's meditation is for remnant.</p>
        </div>
      </div>
    </div>


    <div class="container text-center">
      {% load static %}
      <img class="my-image align-center" src=" {{ image_link_cn }} " alt="" max-width="200%" height="auto">
    </div>



</section>





{% endblock %}


